@import "bootstrap/scss/bootstrap";
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

html, body {
  padding: 5px;
  display: flex;
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

div.tab-pane {
  display: flex!important;
  flex-direction: column;
  flex-grow: 1 !important;
}

.drop-zone-white {
  border: 2px dotted white!important;
  border-radius: 10px;
  color: white!important;
}

.drop-content-white {
  color: white!important;
}

.grid-two-panes {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 10px;
}
.grid-left-pane {
  grid-column: 1 / 2;
  grid-row: 1;
}
.grid-right-pane {
  grid-column: 2 / 2;
  grid-row: 1;
}
